language: java
jdk:
- oraclejdk8
script: mvn clean test javadoc:javadoc
after_success:
- "./.push-javadoc-to-gh-pages.sh"
env:
  global:
    secure: L28ekEWKhwcuYePTR8HBb4eo68HWFd86cVs+0rm3jr7rO85xEXGmSZnhJ89CoRyIfk0nF910TmJdpAkGvwiFDaJjjoCccpUZOXISlbH1TXX7BI6nPKkVhWwCGXQyZ0s0ZfyHUnG8Jzd7SwJVrJvd2OwRZq+wV81jbbh3pG5mAAw=
